:root {
  --red: #e30002;
  --text: #000;

  // element plus
  // --el-color-primary: pink;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  color: var(--text);
  font-size: 16px;
  // letter-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html,
button,
input,
optgroup,
select,
textarea {
  letter-spacing: 0.3px;
  font-family: Sans-serif;
  font-size: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--text);
}

a:hover {
  color: var(--red);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input[type="search"]::-webkit-search-cancel-button {
  appearance: none;
}

// element
@import 'element-plus/dist/index.css';
@import 'element-plus/theme-chalk/dark/css-vars.css';