:root {
  --red: #e30002;
  --text: #000;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  color: var(--text);
  font-size: 16px;
  // letter-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html,
button,
input,
optgroup,
select,
textarea {
  font-family: PingFang SC, Source Sans, Microsoft Yahei, sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--text);
}
a:hover {
  color: var(--red);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
